Active: {{this.abbreviation}}<br>
Count: {{this.cryptocurrencies.length}}<br>
Total: {{this.allRecords.length}}<br>
Available Navigations: {{this.allShortNames}}

{{#each this.cryptocurrencies as |crypto|}}
  <div>
    <strong>{{crypto.shortName}}</strong>:
    <label>{{crypto.name}}</label>
  </div>
{{/each}}